@use '~@angular/material' as mat;

$comidas-ya-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$comidas-ya-accent: mat.define-palette(mat.$light-blue-palette);
$comidas-ya-warn: mat.define-palette(mat.$pink-palette, 600);

$comidas-ya-theme: mat.define-light-theme(
  $comidas-ya-primary,
  $comidas-ya-accent,
  $comidas-ya-warn
);
