<div class="container" rtl>
  <div class="row">
    <div class="col">
      <h1 class="main-heading">{{ 'pedi-ya.login-register.login.title' | translate }}</h1>
    </div>
  </div>
  <ng-container *ngIf="formValueChanges$ | async as updatedForm">
    {{update(updatedForm)}}
  </ng-container>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <mat-card>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'pedi-ya.login-register.login.email' | translate }}"
                formControlName="email" type="email">
              <mat-error *ngIf="form.get('email').hasError('required')">
                {{ 'pedi-ya.login-register.login.email' | translate }}
                {{ 'pedi-ya.login-register.login.error1' | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('email').hasError('email')">
                {{ 'pedi-ya.login-register.login.email' | translate }}
                {{ 'pedi-ya.login-register.login.error2' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="password" placeholder="{{ 'pedi-ya.login-register.login.password' | translate }}"
                formControlName="password">
              <mat-error *ngIf="form.get('password').invalid">
                {{ 'pedi-ya.login-register.login.password' | translate }}
                {{ 'pedi-ya.login-register.login.error1' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row buttons d-flex justify-content-between pad">
            <button mat-raised-button color="primary" [ngClass]="routeAnimationsElements">
              {{ 'pedi-ya.login-register.login.login' | translate }}
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </form>

</div>
