<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1 rtl class="main-heading">
      {{ 'pedi-ya.order.menu-list.title' | translate }}
    </h1>
  </div>
</div>
<div class="row" [ngClass]="routeAnimationsElements" rtl>
  <div *ngIf="menusAndStore$ | async" class="col-md-12 col-lg-6">
        <mat-card *ngFor="let menu of menusWithCart" class="animate__animated animate__fadeIn mb-2">
          <mat-card-header>
              <mat-card-title>{{menu?.name}}</mat-card-title>
          </mat-card-header>
          <img *ngIf="menu?.img" class="animate__animated animate__fadeIn animate__slow" mat-card-image [src]="menu?.img" alt="Photo of {{menu.name}}">
          <mat-card-content>
              <p>{{menu?.description}}</p>
          </mat-card-content>
          <mat-card-actions>
              <span>{{'pedi-ya.order.menu-list.addToCart' | translate}}&nbsp;&nbsp;</span>
              <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle (click)="onAddMenuToCart(menu)" value="add" aria-label="add one to cart">
                  <mat-icon>add</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="onRemoveMenuFromCart(menu)" value="remove" aria-label="remove one from cart">
                  <mat-icon>remove</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <span *ngIf="menu?.amountOnCart > 0">&nbsp;{{menu?.amountOnCart}} unidades</span>
          </mat-card-actions>
      </mat-card>
  </div>
  <div class="col-md-12 col-lg-6" [ngClass]="routeAnimationsElements">
    <button mat-raised-button class="default m-2" (click)="onResetCart()">
      {{ 'pedi-ya.order.menu-list.emptyCart' | translate }}
    </button>
    <button mat-raised-button class="default m-2" (click)="onGoToCheckout()">
      {{ 'pedi-ya.order.menu-list.goToCheckout' | translate }}
    </button>
  </div>
</div>
</div>   